body {
    background-color: yellow;
}

.verde {
    background-color: green;
    color: white;
}
.vermelho {
    background-color: red;
    color: white;
}
.azul {
    background-color: blue;
 color: white;

}